
/* Global */
 
@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir/Avenir-Roman.eot');
    src: url('../fonts/Avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/Avenir-Roman.woff2') format('woff2'),
        url('../fonts/Avenir/Avenir-Roman.woff') format('woff'),
        url('../fonts/Avenir/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/Avenir/Avenir-Light.eot');
    src: url('../fonts/Avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/Avenir-Light.woff2') format('woff2'),
        url('../fonts/Avenir/Avenir-Light.woff') format('woff'),
        url('../fonts/Avenir/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirBold';
    src: url('../fonts/Avenir/AvenirBold.eot');
    src: url('../fonts/Avenir/AvenirBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirBold.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirBold.woff') format('woff'),
        url('../fonts/Avenir/AvenirBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/AvenirRegular.eot');
    src: url('../fonts/Avenir/AvenirRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirRegular.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirRegular.woff') format('woff'),
        url('../fonts/Avenir/AvenirRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --brightVoilet: #83479b;
    --violet: #7850a0;
    --purple: #8341c3;
    --black: #000000;
    --midGray: #bbbbbb;
    --lightGray: #eeedee;
    --primaryFont: "Avenir";
    --primaryFontBold: "AvenirBold";
    --primaryFontLight: "AvenirLight";
}

html,
body {
    width: auto !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth
}

.container-xl {
    max-width: 1440px !important;
}

body {
    font-family: var(--primaryFont);
}

p, strong{
    word-break: break-word;
}
.primary-color{
    color: #8341c3;
}

.btn-white {
    background: white;
    color: #8341c3;
}

.btn-outline-purple {
    color: #383838;
    border-color: #be9ce0;
}

.btn-outline-purple:hover,
.btn-outline-purple:active,
.btn-outline-purple:focus,
.btn-outline-purple.active {
    background: #8224e0;
    color: #ffffff;
    border-color: #8224e0;
}

.btn:focus {
    box-shadow: none;
}

.btn-purple {
    color: #fff;
    box-shadow: 0px 10px 35px rgba(137, 59, 183, 0.3);
    border-radius: 3px;
    border-color: #8341c3;
    background: -webkit-linear-gradient(to right, #8C38B0 4.17%, #8342C5 88.89%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8C38B0 4.17%, #8342C5 88.89%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple.active {
    background: #ffffff;
    color: #8224e0;
    border-color: #8224e0;
}

.btn-rounded{
    border-radius: 50px;
}

.custom-select:focus{
    outline: none;
    box-shadow: 0px 10px 35px rgba(137, 59, 183, 0.3);
    border: 1px solid rgba(137, 59, 183, 0.3);
}

.btn-purple:focus {
    outline: none;
    box-shadow: 0px 10px 35px rgba(137, 59, 183, 0.3);
}

.btn-purple-gradient {
    color: #fff;
    box-shadow: 0px 10px 35px rgba(137, 59, 183, 0.3);
    border-radius: 3px;
    border-color: #8341c3;
    background: -webkit-linear-gradient(to right, #8C38B0 4.17%, #8342C5 88.89%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8C38B0 4.17%, #8342C5 88.89%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-purple-gradient:hover,
.btn-purple-gradient:active,
.btn-purple-gradient.active {
    background: #ffffff;
    color: #8224e0;
    border-color: #8224e0;
}

.btn-purple-gradient:focus {
    outline: none;
    box-shadow: 0px 10px 35px rgba(137, 59, 183, 0.3);
}

.btn-white-outline-purple {
    color: white;
    background: #8341c3;
    border-color: white;
}

.btn-white-outline-purple:hover,
.btn-white-outline-purple:active,
.btn-white-outline-purple:focus {
    background: #ffffff;
    color: #8224e0;
    border-color: #8224e0;
}

.bg-purple {
    background-color: #8341c3;
    color: white;
}

button:focus{
    outline: none;
}

/* Update Password Page */

.update-pass-screen{
    background-image: url("../images/line-circle-bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 620px;
}

.update-pass-sec{
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
}
.update-pass-card{
  border-radius: 18px !important;
  box-shadow: -10px 15px 50px #bc97e0, 1px 4px 20px #7b6194;
  backdrop-filter: blur(84rem);
  background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
  z-index: 2;
  opacity: 0.7;
    position: relative;
}

.btn-submit {
  background-color: #8224e0 !important;
  color: white !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus {
  background: white !important;
  color: #8224e0 !important;
  border-color: #8224e0 !important;
  box-shadow: 5px 15px 20px #8224e0b4;
  transform: translateY(-7px);
}

  .update-pass-card .md-input {
    position: relative;
    margin: auto;
    width: 100%;
    /* max-width: 280px; */
    border-radius: 3px;
    overflow: hidden;
  }
  .md-input{
      position: relative;
  }
  .md-input .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .md-input .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
  .md-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
  }
  .md-input input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  }
  .md-input input:not(:-moz-placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  .md-input input:not(:-ms-input-placeholder) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  .md-input input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  .md-input input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #8341c3;
  }
  .md-input input:focus + .label {
    color: #8341c3;
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  .md-input input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
  }

  @keyframes unlock-circle {
    0% {
        bottom: 200px;
    }
    25% {
        bottom: 200px;
    }
    50% {
        bottom: 150px;
    }
    75% {
        bottom: 150px;
    }
    100% {
        bottom: 200px;
    }
}

@keyframes unlock-box {
    0% {
        bottom: 280px;
    }
    25% {
        bottom: 280px;
    }
    50% {
        bottom: 230px;
    }
    75% {
        bottom: 230px;
    }
    100% {
        bottom: 280px;
    }
}


.update-pass-sec .wrapper {
  transform: translate(20px, 50px);
}

.update-pass-sec .security-img {
    position: relative;
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
  }
  
  .security-img #shell{
    animation: up 800ms infinite alternate;
    animation-play-state: paused;
  }
  .security-img #shell, .security-img #lock{
    animation-play-state: running;
  }
   #lock{
    animation: shack 1100ms infinite alternate;
    transform-origin: 336px 171px;
    animation-play-state: paused;
  }
  @keyframes up{
    from{
      transform: translate3d(0,5px,0);
    }
    to{
      transform: translate3d(0,-5px,0);
    }
  }
  @keyframes shack{
    from{
      transform: translate3d(0,12px,0) rotate(-32deg);
    }
    to{
      transform: translate3d(0,-12px,0) rotate(2deg);
    }
  }

  .update-pass-card .key-icon{
    width: 42px;
    height: 42px;
    animation: float 5s ease-in-out infinite;
  }

  
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-12px);
	}
	100% {
		transform: translatey(0px);
	}
}


.update-pass-card .icon-circle{
  background-color: #8341c3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: -2px 5px 10px gray;
}

/* my order page */
.order-card{
    border: 1px solid gray;
    box-shadow: 0px 10px 20px #d2c3e0;
    border-radius: 5px;
}

.order-card .user-img-sec .user-img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    border: 3px solid #8341c3;
}
.order-card .user-info .name{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1px;
    text-transform: capitalize;
    width: 135px;
}
.order-card .user-info-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: -65px;
    margin-top: 1.2em;
}
.order-card .user-info-sec .user-info{
    margin-left: -55px;
    align-self: flex-end;
    margin-bottom: 0.7em;
}
.order-card .user-info-sec .btn-sec button{
    font-size: 0.7em;
}
.order-card .order-desc-sec{
    flex: 1;
    height: 40%;
}
.order-card .order-desc-sec .title{
    font-size: 1.26em;
    font-weight: 600;
    margin-bottom: 1px;
}
.order-card .order-status-sec{
    margin-top: 3em;
}
.order-card .order-status-sec .order-status-data p{
    line-height: 0em;
}
.order-card .order-status-sec .price-text{
    font-family: var(--primaryFontBold);
    font-size: 1.5em;
}
.order-card .order-status-sec .btn-sec{
    position: absolute;
    bottom: 5px;
    text-align: center;
    margin: 0 auto;
    transform: translate(10px, 0px);
}
.order-card .order-status-btn-sec{
    margin-top: 3em;
}
.order-card .order-doc-sec{
    position: absolute;
    bottom: 5px;
}
.order-card .order-doc-sec p{
    margin-bottom: 0px;
    font-weight: 600;
}